{% extends 'base.html' %}
{% block content %}
	<h3>처음 만드는 뷰함수 메인 페이지</h3>
	<p>HTML파일에서 뷰가 넘겨준 값을 사용하려면 { %, { {, { # 으로 파이썬 코드를 작성할 수 있다.</p>
	{# 파이썬 주석을 달 수 있는 공강을 생성할 수 있음 #}
	{# {{ }}: 파이썬의 변수, 함수 결과값을 HTML코드에 입력할 수 있음 #}
	{# {% %}: 파이썬의 조건문, 반복문, 템플릿이 제공하는 태그를 사용할 수 있음 #}
	{# {% if %}을 사용하면, if문의 끝을 알리는 {% endif %}을 사용해야 함 #}
	{# a: 숫자값, b: 리스트 #}
	
	<p>a변수에 저장된 값: {{ a }}</p>
	<p>b변수에 저장된 값: {{ b }}</p>
	
	{% for c in b%}
		<p>b변수에 저장된 요소값: {{c}}</p>
		
	
	
	{% endfor %}
{% endblock %}